<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--1.namespace跟接口绑定,绑定mapper的接口-->
<mapper namespace="cn.myfreecloud.mapper.EmployeeMapper">
    <!--插入员工-->
    <insert id="insertEmp">
        INSERT INTO employee (LAST_NAME, EMAIL, GENDER, DEPARTMENT_ID, BIRTHDAY)
        VALUES (#{lastName}, #{email}, #{gender}, #{departmentId}, #{birthday})
    </insert>

    <!--删除员工-->
    <delete id="deleteEmpById" parameterType="Integer">
        DELETE
        FROM
             employee
        WHERE
              EMPLOYEE_ID = #{id}
    </delete>

    <!--修改员工-->
    <update id="updateEmpById">
        UPDATE employee
        SET LAST_NAME     = #{lastName},
            EMAIL         = #{email},
            GENDER        = #{gender},
            DEPARTMENT_ID = #{departmentId},
            BIRTHDAY      = #{birthday}
        WHERE EMPLOYEE_ID = #{employeeId}
    </update>

    <!--查询单个员工-->
    <select id="getEmpById" parameterType="cn.myfreecloud.entities.Employee"
            resultType="cn.myfreecloud.entities.Employee">
        SELECT *
        FROM employee
        WHERE EMPLOYEE_ID = #{id}
    </select>

    <!--查询所有员工-->
    <select id="getAllEmp" resultType="cn.myfreecloud.entities.Employee">
        SELECT *
        FROM employee
    </select>

</mapper>